@media (max-width: 1100px) {
    .menu li:not(:last-child)::after {
        content: "|";
        margin: auto 12px;
    }
    .scroll {
        right: 20px;
        bottom: 70px;
    }
}
@media (max-width: 1000px) {
    .article__image img:last-child {
        width: 50%
    }
    .app__button {
        border: 1px solid #fff;
    }
}
@media (max-width: 900px) {
    body {
        font-size: 14px;
    }

    h1, .title.general, .title.high.promo__title {
        font-size: 38px;
    }
    h2, title.high {
        font-size: 24px;
    }
    h3 {
        font-size: 16px;
    }

    .menu a {
        padding: 8px 0;
    }

    .header-language__button {
        margin-left: 24px;
    }
    .header__button-menu {
        display: block;
        margin-left: 16px;
    }
    .header__actions {
        margin-left: auto;
    }
    .header__menu {
        display: block;
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: #101923;
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
    }

    .header__menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        margin-top: 20px;
    }
    .menu.header__menu li:not(:last-child)::after {
        content: "";
        display: none;
}
    .header__menu.open {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        pointer-events: all;
        opacity: 1;
        overflow-y: auto;
    }
    .content {
        padding: 24px;
    }

    .prime__wrapper, .promo__wrapper {
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.5);
        padding: 20px;
        -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
    }

    .wrapper {
        padding: 0 10px;
    }

    .slots__list {
        flex-wrap: wrap;
    }
    .slots__item {
        flex: 1 1 calc((100% - 16px * 2) / 3);
    }
    
    .navigation__button {
        font-size: 18px;
    }

    .bonus__list {
        flex-wrap: wrap;
    }
    .bonus__item {
        flex: 1 1 calc(50% - 8px);
    }
    .bonus-item__text {
        font-size: 16px;
    }
}
@media (max-width: 620px) {
    .content {
        padding: 16px;
    }

    .header-language__list {
        min-width: 250px;
    }

    .features {
        flex-direction: column;
    }
    .features__image img:last-child {
        top: 0;
    }

    .menu.footer__menu ul {
        flex-direction: column;
        gap: 12px;
    }
    .menu li:not(:last-child)::after  {
        display: none;
    }

}
@media (max-width: 550px) {
    .header__actions a {
        display: none;
    }
    .header__menu > .button {
        display: block;
        text-align: center;
        max-width: 130px;
        font-weight: 900;
        margin: 0 auto;
    }
    .header__menu > .header__button-signup {
        margin-top: 10px;
        color: #101D2C;
    }

    .content {
        padding: 16px;
    }

    .prime {
        padding: 16px;
    }

    .prime__wrapper, .promo__wrapper {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .faq-item__question, .faq-item__answer {
        padding: 0 16px;
    }
    .footer {
        padding-top: 0;
    }

    .bonus__item {
        flex: 1 1 100%;
    }
}
@media (max-width: 440px) {
    h3 {
        font-weight: 700;
    }

    .button {
        font-size: 16px;
    }

    .header-language__list {
        left: -60px;
    }

    .prime__wrapper, .promo__wrapper {
        max-width: 100%;
        padding: 10px;
    }
    .prime__button, .button.article__button {
        min-width: 0;
    }

    .app__buttons {
        flex-direction: column;
        min-width: 0;
    }

    .slots__list {
        gap: 10px;
    }
    .slots__item {
        flex: 1 1 calc(50% - 8px);
        width: calc(50% - 4px)
    }

    .navigation__button {
        padding: 12px 16px;
    }

    .faq-item__question {
        padding-right: 10px;
    }

    .footer__payments {
        flex-wrap: wrap;
        justify-content: center;
    }
}