@media (max-width: 1280px) {
    .prime__content {
        min-width: 100%;
    }
}
@media (max-width: 1100px) {
    .bonus-item__actions {
        flex-direction: column;
        align-items: center;
    }
    .bonus-item__button {
        min-width: 190px;
    }
}
@media (max-width: 1000px) {
.header__button-mobile {
        margin-left: 40px;
    }
    .header__button-mobile span {
        display: none;
    }

    .prime__background img {
        -o-object-position: 70% 50%;
           object-position: 70% 50%;
    }
    .prime__wrapper  {
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
    }

    .promo__background img {
        -o-object-position: 60%;
           object-position: 60%;
    }
    .promo__wrapper {
        min-width: 0;
        background: rgba(0, 0, 0, 0.7);
        padding: 20px;
    }

    .features__table tr {
        flex: 1 1 calc(50% - 10px);
    }
}
@media (max-width: 900px) {
    .content {
        padding: 20px 16px;
    }

    .header__button-menu {
        display: block;
        margin-left: 16px;
    }
    .header__menu {
        display: block;
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: #0D1D34;
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        margin: 0;
        transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
    }
    .header__menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        margin-top: 20px;
    }
    .header__menu.open {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        pointer-events: all;
        opacity: 1;
        overflow-y: auto;
    }
    .header__actions {
        gap: 10px;
    }

    .slots__list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .slots__item {
        flex: 0 0 auto;
        width: calc((100% - 20px * 2) / 3);
    }

    .scroll {
        right: 20px;
    }

    .footer__payments {
        justify-content: center;
    }
}
@media (max-width: 750px) {
    .features__table tr {
        flex: 100%;
    }
    .bonus__list {
        flex-direction: column;
    }
    .bonus-item__actions {
        flex-direction: row;
    }
}
@media (max-width: 700px) {
    h2, .title.high {
        font-size: 20px;
    }
    .wrapper {
        padding: 0 12px;
    }
    .header__actions a {
        display: none;
    }
    .header__menu > .button {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .header__menu > .header__button-signup {
        margin-top: 10px;
    }

    .app__actions {
        flex-direction: column;
        gap: 10px;
    }
    .app__button {
        justify-content: start;
        text-align: left;
        padding: 12px 20px;
    }
}
@media (max-width: 500px) {
    .header__button-mobile {
        display: none;
    }

    .prime__wrapper {
        width: 100%;
    }

    .slots__item {
        flex: 0 0 auto;
        width: calc((100% - 20px) / 2);
    }
    .slots__button {
        font-size: 14px;
    }

    .footer__disclaimer {
        justify-content: space-between;
    }

    .bonus-item__actions {
        flex-direction: column;
    }

}
@media (max-width: 400px) {
    .content {
        padding: 12px;
    }

    .prime {
        padding: 12px;
    }
    .prime__content {
        padding: 0;
    }
    .prime__wrapper {
        padding: 10px;
    }

    .features__table tr {
        flex-direction: column;
        gap: 8px;
    }
    .features__table th {
        max-width: 100%;
    }
    .features__table td {
        padding-top: 0;
    }

    .faq-item__question  {
        padding: 12px;
    }
    .faq-item__answer p {
        padding: 12px;
    }

    .footer__disclaimer {
        position: static;
        flex-direction: column;
        gap: 12px;
        justify-content: center;
    }
    .footer-disclaimer__age {
        position: static;
        top: 0;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    .app__button  {
        min-width: 0;
    }
}   